<!--usersのshowページ-->

  <%= link_to "User Edit", "/users/#{@user.id}/edit" %>


  <!--< %=link_to "user edit" edit_user_path %>-->


<p>↓↓この間が投稿一覧</p>

<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
    <!--<p>投稿ユーザー画像：< %= image_tag('no_image.jpg') %></p>-->
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <p>意見：<%= book.opinion %></p>
  </div>
<% end %>

<p>ここまで投稿一覧</p>